.dashboard {
  width: 100vw !important;
  overflow-x: hidden;
  position: relative;
  display: flex;
  background-color: var(--inactive-color);
}
.dashboard .sidebar {
  padding: 80px 1% 0 1%;
  width: 15%;
  background-color: #fff;
  z-index: 100;
  transition: 0.3s ease;
}
.dashboard .sidebar .down {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.dashboard .sidebar .down .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard .sidebar .down .items .item {
  text-decoration: none;
  color: var(--text-color);
}
.dashboard .sidebar .down .items .item span {
  margin: 0 5px;
  text-transform: capitalize;
  font-size: 0.8em;
}
.dashboard .sidebar .down .items .item a {
  text-decoration: none;
  color: inherit;
}
.dashboard .sidebar .down .items .item a.active {
  color: var(--primary-color);
}
.dashboard .sidebar .down .items .dropdownContent {
  margin-left: 20px;
  font-size: 0.8em;
  text-transform: capitalize;
}
.dashboard .sidebar .down .items .dropdownContent a {
  text-decoration: none;
  color: inherit;
}
.dashboard .sidebar .down .items .dropdownContent a.active {
  color: var(--primary-color);
}
.dashboard .sidebar .down .extra {
  position: relative;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 85%;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
.dashboard .sidebar .down .extra .ellipse7 {
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  filter: opacity(30%);
}
.dashboard .sidebar .down .extra .ellipse6 {
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
  filter: opacity(30%);
}
.dashboard .sidebar .down .extra .ellipse5 {
  width: 35%;
  position: absolute;
  bottom: 0;
  filter: opacity(30%);
  right: 0;
}
.dashboard .sidebar .down .extra .ellipse4 {
  width: 45%;
  position: absolute;
  bottom: 0;
  filter: opacity(30%);
  right: 0;
}
.dashboard .sidebar .down .extra .ellipse3 {
  width: 55%;
  position: absolute;
  bottom: 0;
  filter: opacity(30%);
  right: 0;
}
.dashboard .sidebar .down .extra .ellipse2 {
  width: 65%;
  position: absolute;
  bottom: 0;
  filter: opacity(30%);
  right: 0;
}
.dashboard .sidebar .down .extra .ellipse1 {
  width: 75%;
  position: absolute;
  bottom: 0;
  filter: opacity(30%);
  right: 0;
}
.dashboard .sidebar .down .extra .quest {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  justify-content: center;
}
.dashboard .sidebar .down .extra .quest .help {
  padding: 5px 8px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
}
.dashboard .sidebar .down .extra .bottom {
  font-size: 0.8em;
}
.dashboard .sidebar .down .extra .bottom h3 {
  margin-bottom: 5px;
}
.dashboard .sidebar .down .extra .bottom p {
  margin: 0 0 3px 0;
}
.dashboard .sidebar .down .extra .bottom button {
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.7em;
}
.dashboard .sidebar .down .logout {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.dashboard .sidebar .down .logout span {
  margin-left: 5px;
  color: var(--red);
}
.dashboard .content {
  position: relative;
  width: 83%;
  z-index: 10;
  height: 100vh;
}
.dashboard .content .top {
  margin: 100px 0 30px 3%;
  padding: 20px 20px 20px 10px;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  text-transform: capitalize;
}
.dashboard .content .top .label {
  font-weight: bold;
}
.dashboard .content .top .down {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.dashboard .content .top .down .breadcrumbs {
  width: 50%;
}
.dashboard .content .top .down .breadcrumbs .active {
  color: var(--primary-color);
}
.dashboard .content .top .down .time {
  justify-self: end;
  width: 20%;
}
.dashboard .content .top .down .btn {
  justify-self: end;
  background-color: var(--green);
  padding: 10px;
  color: #fff;
  margin-right: 20px;
  border-radius: 10px;
  text-transform: capitalize;
}
.dashboard .content .top .down .btn span {
  margin-left: 5px;
}

@media screen and (max-width: 1024px) {
  .dashboard .sidebar {
    height: 100vh;
  }
  .dashboard .sidebar .dropdownContent {
    font-size: 0.6em !important;
  }
  .dashboard .sidebar .extra .bottom {
    font-size: 0.6em !important;
  }
}
@media screen and (max-width: 1024px) {
  .dashboard {
    width: 100%;
    padding: 0.2% 0;
  }
  .dashboard .sidebar {
    width: 30%;
    padding-left: 10px;
    display: none;
    position: fixed;
    top: 10px;
    left: 0;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  }
  .dashboard .sidebar.open {
    display: block;
  }
  .dashboard .sidebar .close {
    display: block !important;
    margin-right: 20px;
    margin-left: 5px;
  }
  .dashboard .content {
    margin-right: 0;
    width: 97% !important;
  }
}
@media screen and (max-width: 700px) {
  .dashboard .sidebar {
    width: 40%;
    padding-left: 5px;
  }
  .dashboard .sidebar .down .items {
    gap: 10px;
  }
  .dashboard .sidebar .down .items .item {
    font-size: 0.7em;
  }
  .dashboard .sidebar .down .items .item span {
    margin-left: 5px;
  }
  .dashboard .sidebar .down .extra {
    width: 69%;
  }
  .dashboard .sidebar .down .extra .quest {
    padding: 5px;
  }
  .dashboard .sidebar .down .extra .quest .help {
    padding: 2px;
  }
  .dashboard .sidebar .down .extra .bottom h3 {
    margin-bottom: 5px;
  }
  .dashboard .sidebar .down .extra .bottom button {
    width: 100%;
    padding: 5px;
    font-size: 0.2em;
  }
  .dashboard .sidebar .down .logout {
    font-size: 0.5em;
  }
  .dashboard .content .top .down {
    gap: 10px;
  }
  .dashboard .content .top .down .breadcrumbs {
    width: 100% !important;
  }
  .dashboard .content .top .down .time,
  .dashboard .content .top .down .btn {
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=dashboardLayout.css.map */