.dashboard {
  width: 100vw !important;
  overflow-x: hidden;
  position: relative;
  display: flex;
  padding: 0 0 0 2%;
  .sidebar {
    width: 15%;
    background-color: #fff;
    height: 100vh;
    z-index: 1000;
    transition: 0.3s ease;

    .top {
      height: 100px;
      background-color: #fff;
      padding-top: 70px;
      .close {
        display: none;
      }
      .user {
        display: flex;
        gap: 10px;
        align-items: center;
        .name {
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      hr {
        width: 85%;
        border: 0.5px solid var(--line-color);
        margin-left: 0;
      }
    }

    .down {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .items {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          text-decoration: none;
          color: var(--text-color);

          span {
            margin-left: 10px;
            text-transform: capitalize;
          }

          &.active {
            color: var(--primary-color);
          }
        }
      }

      .extra {
        position: relative;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 85%;
        padding: 10px;
        color: #fff;
        border-radius: 10px;

        .ellipse1 {
          width: 10%;
          position: absolute;
          bottom: 0;
          right: 0;
          filter: opacity(30%);
        }

        .ellipse2 {
          width: 25%;
          position: absolute;
          bottom: 0;
          right: 0;
          filter: opacity(30%);
        }

        .ellipse3 {
          width: 35%;
          position: absolute;
          bottom: 0;
          filter: opacity(30%);
          right: 0;
        }

        .ellipse4 {
          width: 45%;
          position: absolute;
          bottom: 0;
          filter: opacity(30%);
          right: 0;
        }

        .ellipse5 {
          width: 55%;
          position: absolute;
          bottom: 0;
          filter: opacity(30%);
          right: 0;
        }

        .ellipse6 {
          width: 65%;
          position: absolute;
          bottom: 0;
          filter: opacity(30%);
          right: 0;
        }

        .ellipse7 {
          width: 75%;
          position: absolute;
          bottom: 0;
          filter: opacity(30%);
          right: 0;
        }

        .quest {
          width: fit-content;
          height: fit-content;
          background-color: #fff;
          border-radius: 10px;
          padding: 5px;
          text-align: center;
          justify-content: center;
          .help {
            padding: 5px 8px;
            background-color: var(--primary-color);
            color: #fff;
            border-radius: 50%;
            text-align: center;
            font-size: 0.8em;
            align-items: center;
            justify-content: center;
          }
        }

        .bottom {
          font-size: 0.8em;
          h3 {
            margin-bottom: 5px;
          }

          p {
            margin: 0 0 3px 0;
          }
          button {
            width: 100%;
            background-color: #fff;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 0.7em;
          }
        }
      }

      .logout {
        display: flex;
        align-items: center;
        text-decoration: none;
        span {
          margin-left: 5px;
          color: var(--red);
        }
      }
    }
  }

  .content {
    position: relative;
    width: 80%;
    height: 100vh;
    z-index: 999;

    .top {
      height: 20px;
      padding: 90px 0 20px 10px;
      background-color: #fff;
      display: flex;
      .brand {
        font-weight: bold;
        margin-left: 20px;
        margin-bottom: 5px;
      }
      .menu-btn {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .dashboard {
    .sidebar {
      .extra {
        .bottom {
          font-size: 0.6em !important;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .dashboard {
    width: 100%;
    padding: 0.2% 0;
    .sidebar {
      width: 35% !important;
      padding-left: 10px;
      display: none;
      position: fixed;
      top: 10px;
      left: 0;
      box-shadow: 0 0 0.9px var(--line-color);
      &.open {
        display: block;
      }
      .close {
        display: block !important;
      }
    }

    .content {
      margin-right: 0;
      width: 97% !important;
      .top {
        .menu-btn {
          display: block !important;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .dashboard {
    .sidebar {
      width: 15%;
      padding-left: 5px;
      .top {
        padding-top: 70px;
        .user {
          gap: 5px;
          img {
            width: 30px;
          }
          .name {
            font-size: 0.8em;
          }
        }
      }

      .down {
        .items {
          gap: 10px;

          .item {
            font-size: 0.7em;
            span {
              margin-left: 5px;
            }
          }
        }

        .extra {
          width: 69%;
          .quest {
            padding: 5px;
            .help {
              padding: 2px;
            }
          }

          .bottom {
            h3 {
              margin-bottom: 5px;
            }
            button {
              width: 100%;
              padding: 5px;
              font-size: 0.2em;
            }
          }
        }

        .logout {
          font-size: 0.5em;
        }
      }
    }

    .content {
      .top {
        height: 20px;
        padding: 80px 0 20px 10px;
        background-color: #fff;

        .menu-btn {
          display: none;
        }
      }
    }
  }
}
