.allAttendancePage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 50px 3%;
  background-color: var(--inactive-color);
  z-index: 1;

  .box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    height: fit-content;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }
  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    width: 15.5%;
  }

  .box6 {
    width: calc(60%);
  }
  .box7 {
    width: 27.3%;
  }
  .box8 {
    width: 91%;
  }
}

@media screen and (max-width: 1024px) {
  .allAttendancePage {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
      width: 15%;
    }

    .box8 {
      width: 91.2%;
    }
  }
}

@media screen and (max-width: 900px) {
  .allAttendancePage {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
      width: 13.5%;
    }

    .box6 {
      width: 55%;
    }
    .box7 {
      width: 28%;
    }
    .box8 {
      width: 89%;
    }
  }
}

@media screen and (max-width: 600px) {
  .allAttendancePage {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8 {
      width: 90%;
    }
  }
}
