.applyLeavePage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 50px 3%;
  background-color: var(--inactive-color);
  z-index: 1;

  .box {
    padding: 40px 15px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    height: fit-content;
    width: 80%;
    box-shadow: var(--shadow);
    border: 1px solid var(--inactive-color);
  }
}
