.home {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // display: grid;
  gap: 20px;
  // grid-template-columns: repeat(3, 1fr);
  // grid-auto-flow: dense;
  padding: 2% 2% 2% 2%;
  background-color: var(--inactive-color);
  z-index: 1;

  .box {
    padding: 0 10px 15px 10px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    height: fit-content;

    .ellipse8 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      width: 15%;
    }
  }

  .ellipse9 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 18%;
  }

  .ellipse10 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 20%;
  }

  .ellipse11 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 22%;
  }

  .box1,
  .box2,
  .box3 {
    width: 28%;
  }

  .box4 {
    width: calc(56% + 40px);
  }

  .box5 {
    width: 28%;
  }

  .box6 {
    width: calc(85% + 70px);
  }
}

@media screen and (max-width: 1024px) {
  .home {
    padding: 20px 10px;
    width: 95% !important;

    .box1,
    .box2,
    .box3 {
      width: 28%;
    }
    .box4,
    .box5 {
      width: 45%;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
      width: 98%;
    }
  }
}
