.vehiclesPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2% 2% 2% 2%;
  background-color: var(--inactive-color);
  z-index: 1;

  .box {
    padding: 5px 10px 15px 10px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    height: fit-content;

    .ellipse8 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      width: 15%;
    }

    .ellipse9 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      width: 18%;
    }

    .ellipse10 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      width: 20%;
    }

    .ellipse11 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      width: 22%;
    }
  }

  .set1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    gap: 20px;
    margin-right: 20px;
    .box1,
    .box2,
    .box3 {
      width: 100%;
    }
  }

  .box4 {
    width: calc(55% - 20px);
  }

  .box5 {
    width: 44%;
  }

  .box7 {
    width: 44%;
  }

  .box6 {
    width: calc(85% + 70px);
  }
}

@media screen and (max-width: 600px) {
  .vehiclesPage {
    .set1 {
      width: 90%;
      .box1,
      .box2,
      .box3 {
        width: 100%;
      }
    }

    .box4,
    .box5,
    .box6,
    .box7 {
      width: 90%;
    }
  }
}

// @media screen and (max-width: 600px) {
//   .recentVisitors {
//     .visTitle {
//       font-size: 1.5em;
//     }

//     .visItems {
//       padding: 5px;
//       gap: 10px;

//       .visItem {
//         gap: 20px !important;
//         align-items: center;
//         justify-content: start;
//         .user {
//           gap: 30px;
//         }
//         .extra {
//           font-size: 0.2em;
//           display: none;
//         }
//       }
//     }
//   }
// }
