:root {
  --primary-color: #386bf6;
  --text-color: #424242;
  --text-light: #686868;
  --line-color: #d9d9d9;
  --inactive-color: #f5f5f5;
  --green: #35f8ce;
  --light-green: #d9f8ee;
  --red: #f84f43;
  --light-red: #f8d5d3;
  --blue: #718ebf;

  --font: "Montserrat", sans-serif;
}

body {
  font-family: var(--font);
  color: var(--text-color);
  width: 100vw;
  overflow-x: hidden;
}

//layout
@import url(layout/dashboardLayout.scss);

//pages
@import url(pages/dashboard.scss);
@import url(pages/visitorsPage.scss);
@import url(pages/vehiclesPage.scss);
@import url(pages/AllAttendance.scss);

//components
@import url(components/navbar.scss);
@import url(components/dashboardCards.scss);
@import url(components/chart.scss);
@import url(components/pagination.scss);

//visitors
@import url(components/visitors/allVisitors.scss);

//login
@import url(components//login/loginSidebar.scss);
@import url(components/login/login.scss);

//vehicles
@import url(components/vehicle/recentVehicles.scss);
@import url(components/vehicle/vehiclePgaeCards.scss);
@import url(components/vehicle/vehiclesCharts.scss);
@import url(components/vehicle/watchListVehicles.scss);
@import url(components/vehicle/alertBox.scss);
@import url(components/vehicle/allVehicles.scss);

//attendance
@import url(components/attendance/attendancePageCards.scss);
@import url(components/attendance/attendanceChart.scss);
@import url(components/attendance/statschart.scss);
