:root {
  --primary-color: #386bf6;
  --text-color: #424242;
  --text-light: #686868;
  --line-color: #d9d9d9;
  --inactive-color: #f5f5f5;
  --green: #0ce49c;
  --light-green: #cdfded;
  --red: #f84f43;
  --light-red: #f8d5d3;
  --blue: #718ebf;

  --font: "Montserrat", sans-serif;
}

body {
  font-family: var(--font);
  color: var(--text-color);
  width: 100vw;
  overflow-x: hidden;
}

@import url(components/navbar.scss);

@import url(components/dashboard.scss);

@import url(components/dashboardLayout.scss);

@import url(components/visitors.scss);

@import url(components/chart.scss);

@import url(components/recentVehicles.scss);

@import url(components/recentVisitors.scss);

@import url(components/loginSidebar.scss);

@import url(components/login.scss);

.visitorsPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // display: grid;
  gap: 20px;
  // grid-template-columns: repeat(3, 1fr);
  // grid-auto-flow: dense;
  padding: 2% 2% 2% 2%;
  background-color: var(--inactive-color);
  z-index: 1;

  .box {
    padding: 0 10px 15px 10px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    height: fit-content;

    .ellipse8 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      width: 15%;
    }
  }

  .ellipse9 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 18%;
  }

  .ellipse10 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 20%;
  }

  .ellipse11 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 22%;
  }

  .set1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    gap: 20px;
    margin-right: 20px;
    .box1,
    .box2,
    .box3 {
      width: 100%;
    }
  }
  .box4 {
    width: calc(55% - 20px);
  }

  .box5 {
    width: 28%;
  }

  .box6 {
    width: calc(85% + 70px);
  }
}

@media screen and (max-width: 1024px) {
  .home {
    padding: 20px 10px;
    width: 95% !important;

    .box1,
    .box2,
    .box3 {
      width: 28%;
    }
    .box4,
    .box5 {
      width: 45%;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
      width: 98%;
    }
  }
}

.visitorsPage {
  .visitors {
    z-index: 1;
    position: relative;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    // gap: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    .top {
      display: flex;
      gap: 20px;
      align-items: center;
      font-size: 2em;
      font-weight: bold;
      text-transform: capitalize;
      padding-top: 50px !important;
      margin-bottom: 15px;
      .icon {
        background-color: var(--primary-color);
        border-radius: 50%;
        padding: 15px 20px;
        color: #fff;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin: 40px 0 0 30px;

      .numb {
        display: flex;
        gap: 20px;
        align-items: center;

        .figure {
          font-size: 4em;
          font-weight: bold;
        }

        .percent {
          display: none;
        }
      }
    }

    .down {
      font-size: 0.8em;
      padding: 0 0 0 40px;
      span {
        color: var(--green);
      }
    }
  }
}
