:root {
  --primary-color: #386bf6;
  --text-color: #424242;
  --text-light: #686868;
  --line-color: #d9d9d9;
  --inactive-color: #f5f5f5;
  --green: #35f8ce;
  --light-green: #d9f8ee;
  --red: #f84f43;
  --light-red: #f8d5d3;
  --blue: #718ebf;

  --font: "Montserrat", sans-serif;
}

body {
  font-family: var(--font);
  color: var(--text-color);
  width: 100vw;
  overflow-x: hidden;
}

@import url(components/navbar.scss);

//layout
@import url(layout/dashboardLayout.scss);

//pages
@import url(pages/dashboard.scss);
@import url(pages/visitorsPage.scss);
@import url(pages/vehiclesPage.scss);

//components

@import url(components/visitors/visitors.scss);

@import url(components/chart.scss);

@import url(components/visitors/allVisitors.scss);

@import url(components//login/loginSidebar.scss);

@import url(components/login/login.scss);

//vehicles
@import url(components/vehicle/recentVehicles.scss);
@import url(components/vehicle/vehiclePgaeCards.scss);
@import url(components/vehicle/vehiclesCharts.scss);
@import url(components/vehicle/watchListVehicles.scss);
@import url(components/vehicle/alertBox.scss);
@import url(components/vehicle/allVehicles.scss);

.pagination {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  .prev,
  .next {
    padding: 3px 15px;
    background-color: #fff;
    border: 1px solid var(--line-color);
    border-radius: 4px;
    cursor: pointer;
  }

  .prev {
    margin-right: 5px;
  }
  .next {
    margin-left: 5px;
  }

  .active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
  }
}
