.navbar {
  height: 70px;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
  padding: 0 2%;
  gap: 0;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .brand {
    width: 217px;
    margin-right: 2px solid #fff;
  }
  .center {
    display: flex;
    align-items: center;
    gap: 500px;
    padding: 0 20px;
    border-left: 1px solid #fff;

    .search {
      display: flex;
      justify-content: start;
      align-items: center;
      background-color: #fff;
      border-radius: 20px;
      padding: 0 10px;
      height: 44%;
      width: 250px;
      color: var(--text-color);
      .searchIcon {
        margin-right: 5px;
      }
      input {
        border: none;
        outline: none;
      }
    }

    .right {
      display: flex;
      gap: 20px;
      align-items: center;
      font-size: 1.2em;
      .name {
        span {
          text-transform: uppercase;
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    padding: 0.2%;
    width: 100%;

    .brand {
      width: 180px;
    }
    .center {
      gap: 10px;
      padding: 0 5px;
      .search {
        width: 100px;
        input {
          width: 90%;
        }
      }
      .right {
        gap: 5px;
        .name {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    .center {
      .right {
        .navicon {
          display: none;
        }
      }
    }
  }
}
