.recentVisitors {
  width: 100% !important;
  .visTitle {
    font-size: 2em;
    font-weight: bold;
    width: 90%;
    margin-bottom: 30px;
  }

  .visItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    .visItem {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .icon {
        background-color: var(--light-green);
        padding: 10px;
        border-radius: 10px;
      }
      .text {
        font-size: 0.9em;
        margin-right: 5px;
        padding: 5px 0;
        p {
          color: #000;
          margin-bottom: 5px;
        }
        span {
          color: var(--blue);
        }
      }

      .time {
        font-size: 0.9em;
        span {
          background-color: var(--light-red);
          color: var(--red);
          padding: 5px 15px;
          border-radius: 10px;
          font-size: 0.8em;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .recentVisitors {
    .visItems {
      .visItem {
        gap: 20px;

        .text,
        .time {
          width: 200px;
        }
      }
    }
  }
}
