.visitors {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.visitors .top {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 50px !important;
}
.visitors .top .icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 15px 20px;
  color: #fff;
}
.visitors .bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.visitors .bottom .numb {
  display: flex;
  gap: 20px;
  align-items: center;
}
.visitors .bottom .numb .figure {
  font-size: 4em;
  font-weight: bold;
}
.visitors .bottom .numb .percent {
  background-color: var(--light-green);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.8em;
  color: var(--green);
  font-weight: bold;
}
.visitors .bottom .numb .percent span {
  margin-right: 10px;
}
.visitors .bottom .down {
  font-size: 0.8em;
}
.visitors .bottom .down span {
  color: var(--green);
}

.vehicles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vehicles .top {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 50px !important;
}
.vehicles .top .icon {
  background-color: var(--green);
  border-radius: 50%;
  padding: 15px 20px;
  color: #fff;
}
.vehicles .bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.vehicles .bottom .numb {
  display: flex;
  gap: 20px;
  align-items: center;
}
.vehicles .bottom .numb .figure {
  font-size: 4em;
  font-weight: bold;
}
.vehicles .bottom .numb .percent {
  background-color: var(--light-red);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.8em;
  color: var(--red);
  font-weight: bold;
}
.vehicles .bottom .numb .percent span {
  margin-right: 10px;
}
.vehicles .bottom .down {
  font-size: 0.8em;
}
.vehicles .bottom .down span {
  color: var(--red);
}

.flaged {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flaged .top {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 50px !important;
}
.flaged .top .icon {
  background-color: var(--red);
  border-radius: 50%;
  padding: 15px 20px;
  color: #fff;
}
.flaged .bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flaged .bottom .numb {
  display: flex;
  gap: 20px;
  align-items: center;
}
.flaged .bottom .numb .figure {
  font-size: 4em;
  font-weight: bold;
}
.flaged .bottom .numb .percent {
  background-color: var(--light-green);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.8em;
  color: var(--green);
  font-weight: bold;
}
.flaged .bottom .numb .percent span {
  margin-right: 10px;
}
.flaged .bottom .down {
  font-size: 0.8em;
}
.flaged .bottom .down span {
  color: var(--green);
}

@media screen and (max-width: 1024px) {
  .visitors .top,
  .vehicles .top,
  .flaged .top {
    gap: 5px;
  }
  .visitors .top .icon,
  .vehicles .top .icon,
  .flaged .top .icon {
    padding: 8px 10px;
  }
  .visitors .top .icon img,
  .vehicles .top .icon img,
  .flaged .top .icon img {
    width: 30px;
  }
  .visitors .top .title,
  .vehicles .top .title,
  .flaged .top .title {
    font-size: 0.5em;
    font-weight: bold;
  }
  .visitors .bottom .numb .figure,
  .vehicles .bottom .numb .figure,
  .flaged .bottom .numb .figure {
    font-size: 2em;
  }
  .visitors .bottom .numb .percent,
  .vehicles .bottom .numb .percent,
  .flaged .bottom .numb .percent {
    font-size: 0.7em;
  }
  .visitors .bottom .numb .percent span,
  .vehicles .bottom .numb .percent span,
  .flaged .bottom .numb .percent span {
    margin-right: 10px;
  }
  .visitors .bottom .down,
  .vehicles .bottom .down,
  .flaged .bottom .down {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 600px) {
  .visitors .top,
  .vehicles .top,
  .flaged .top {
    gap: 5px;
  }
  .visitors .top .icon,
  .vehicles .top .icon,
  .flaged .top .icon {
    padding: 4px 6px;
  }
  .visitors .top .icon img,
  .vehicles .top .icon img,
  .flaged .top .icon img {
    width: 20px;
  }
  .visitors .top .title,
  .vehicles .top .title,
  .flaged .top .title {
    font-size: 0.2em;
    font-weight: bold;
  }
  .visitors .bottom .numb,
  .vehicles .bottom .numb,
  .flaged .bottom .numb {
    gap: 5px;
  }
  .visitors .bottom .numb .figure,
  .vehicles .bottom .numb .figure,
  .flaged .bottom .numb .figure {
    font-size: 1em;
  }
  .visitors .bottom .numb .percent,
  .vehicles .bottom .numb .percent,
  .flaged .bottom .numb .percent {
    font-size: 0.5em;
    padding: 2px;
  }
  .visitors .bottom .numb .percent span,
  .vehicles .bottom .numb .percent span,
  .flaged .bottom .numb .percent span {
    margin-right: 10px;
  }
  .visitors .bottom .down,
  .vehicles .bottom .down,
  .flaged .bottom .down {
    font-size: 0.4em;
  }
}
@media screen and (max-width: 400px) {
  .visitors .top,
  .vehicles .top,
  .flaged .top {
    gap: 3px;
    padding-left: 0 !important;
  }
  .visitors .top .icon,
  .vehicles .top .icon,
  .flaged .top .icon {
    padding: 1px 5px;
  }
  .visitors .top .icon img,
  .vehicles .top .icon img,
  .flaged .top .icon img {
    width: 15px;
  }
  .visitors .bottom .numb,
  .vehicles .bottom .numb,
  .flaged .bottom .numb {
    gap: 3px;
  }
  .visitors .bottom .numb .figure,
  .vehicles .bottom .numb .figure,
  .flaged .bottom .numb .figure {
    font-size: 0.8em;
  }
  .visitors .bottom .numb .percent,
  .vehicles .bottom .numb .percent,
  .flaged .bottom .numb .percent {
    font-size: 0.3em;
    padding: 2px;
  }
  .visitors .bottom .numb .percent span,
  .vehicles .bottom .numb .percent span,
  .flaged .bottom .numb .percent span {
    margin-right: 10px;
  }
  .visitors .bottom .down,
  .vehicles .bottom .down,
  .flaged .bottom .down {
    font-size: 0.4em;
  }
}/*# sourceMappingURL=visitors.css.map */