.leaveMangementPage .allVisitors .listTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 30px 2%;
}
.leaveMangementPage .allVisitors .listTop .right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.leaveMangementPage .allVisitors .listTop .right .visTitle {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
}
.leaveMangementPage .allVisitors .listTop .right .searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.leaveMangementPage .allVisitors .listTop .right .searchbar .input {
  padding: 10px 50px 10px 20px;
  border-radius: 10px;
  background-color: var(--line-color);
  color: var(--text-light);
  display: flex;
  cursor: pointer;
}
.leaveMangementPage .allVisitors .listTop .right .searchbar .input input {
  margin-left: 10px;
  background-color: var(--line-color);
  border: none;
  outline: none;
}
.leaveMangementPage .allVisitors .listTop .right .searchbar select {
  background-color: #fff;
  border: 1px solid var(--line-color);
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
}
.leaveMangementPage .allVisitors .listTop .right .searchbar .datePickerContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  border: 1px solid var(--line-color);
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}
.leaveMangementPage .allVisitors .listTop .right .searchbar .datePickerContainer .select {
  border: none;
  outline: none;
  padding: 9px 0;
}
.leaveMangementPage .allVisitors .listTop .buttons {
  display: flex;
  gap: 5px;
}
.leaveMangementPage .allVisitors .listTop .buttons .print {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.leaveMangementPage .allVisitors .visItems {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  position: relative;
}
.leaveMangementPage .allVisitors .visItems td {
  border: 1px solid var(--line-color);
}
.leaveMangementPage .allVisitors .visItems .headingItem {
  color: var(--text-color);
  font-size: 0.8em;
  width: 100%;
  padding: 10px;
}
.leaveMangementPage .allVisitors .visItems .visItem {
  width: 100%;
}
.leaveMangementPage .allVisitors .visItems .headingItem,
.leaveMangementPage .allVisitors .visItems .item,
.leaveMangementPage .allVisitors .visItems .approved,
.leaveMangementPage .allVisitors .visItems .pending,
.leaveMangementPage .allVisitors .visItems .rejected {
  padding: 10px;
}
.leaveMangementPage .allVisitors .visItems .staff,
.leaveMangementPage .allVisitors .visItems .to,
.leaveMangementPage .allVisitors .visItems .from {
  width: 250px;
}
.leaveMangementPage .allVisitors .visItems .desc {
  width: 350px;
}
.leaveMangementPage .allVisitors .visItems .days,
.leaveMangementPage .allVisitors .visItems .type,
.leaveMangementPage .allVisitors .visItems .action {
  width: 100px;
}

@media screen and (max-width: 1024px) {
  .leaveMangementPage .allVisitors .listTop .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .leaveMangementPage .allVisitors .visItems .visItem .role,
  .leaveMangementPage .allVisitors .visItems .visItem .dept {
    display: none;
  }
  .leaveMangementPage .allVisitors .visItems .visItem .staff {
    width: 150px;
  }
}
@media screen and (max-width: 900px) {
  .leaveMangementPage .allVisitors .listTop {
    padding: 20px 2%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .leaveMangementPage .allVisitors .listTop .right .visTitle {
    font-size: 1em;
  }
  .leaveMangementPage .allVisitors .listTop .right .searchbar .input {
    padding: 10px 20px 10px 20px;
  }
  .leaveMangementPage .allVisitors .listTop .right .searchbar .datePickerContainer {
    padding: 0 4px;
    cursor: pointer;
  }
  .leaveMangementPage .allVisitors .visItems .emp,
  .leaveMangementPage .allVisitors .visItems .full-time,
  .leaveMangementPage .allVisitors .visItems .part-time {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .leaveMangementPage .allVisitors .listTop .right {
    flex-wrap: wrap;
  }
  .leaveMangementPage .allVisitors .listTop .right .searchbar {
    flex-wrap: wrap;
  }
  .leaveMangementPage .allVisitors .visItems .check,
  .leaveMangementPage .allVisitors .visItems .id,
  .leaveMangementPage .allVisitors .visItems .status,
  .leaveMangementPage .allVisitors .visItems .present,
  .leaveMangementPage .allVisitors .visItems .absent,
  .leaveMangementPage .allVisitors .visItems .late {
    display: none;
  }
}/*# sourceMappingURL=allLeave.css.map */