.leaveMangementPage {
  .allVisitors {
    .listTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 30px 2%;
      flex-wrap: wrap;
      gap: 20px;
      .right {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        .visTitle {
          font-size: 1.2em;
          font-weight: bold;
          text-transform: capitalize;
          width: fit-content;
          margin-bottom: 0;
        }
        .searchbar {
          display: flex;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;
          .input {
            padding: 10px 50px 10px 20px;
            border-radius: 10px;
            background-color: var(--line-color);
            color: var(--text-light);
            display: flex;
            cursor: pointer;
            input {
              margin-left: 10px;
              background-color: var(--line-color);
              border: none;
              outline: none;
            }
          }

          select {
            background-color: #fff;
            border: 1px solid var(--line-color);
            padding: 9px;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }

      .buttons {
        display: flex;
        gap: 5px;
        .print {
          padding: 5px 10px;
          background-color: var(--primary-color);
          color: #fff;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }

    .visItems {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      position: relative;
      font-size: 0.8em;
      td {
        border: 1px solid var(--line-color);
        padding: 10px;
      }
      .headingItem {
        color: var(--text-color);
        font-size: 0.8em;
        // width: 100%;
        padding: 10px;
        text-transform: capitalize;
      }

      .visItem {
        width: 100%;
        .item,
        .status,
        .approved,
        .rejected,
        .pending {
          text-transform: capitalize;
          font-size: 0.8em;
          padding: 10px;
          .icon {
            color: var(--primary-color);
          }
          span {
            margin-left: 5px;
          }
        }

        .status,
        .approved,
        .rejected,
        .pending,
        .type,
        .id {
          width: 100px;
        }

        .to,
        .from {
          width: 200px;
        }

        .days,
        .action {
          width: 70px;
        }

        .staff {
          width: 250px;
        }

        .desc {
          width: 300px;
        }

        .approved {
          color: #16d816;
        }
        .rejected {
          color: red;
        }
        .pending {
          color: #e4e411;
        }

        .action {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          padding: 11px 10px;
          .check {
            color: green;
          }
          .null {
            color: red;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .leaveMangementPage {
    .allVisitors {
      .visItems {
        .staff {
          width: 350px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .leaveMangementPage {
    .allVisitors {
      .visItems {
        .desc {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .leaveMangementPage {
    .allVisitors {
      .visItems {
        .type,
        .id {
          display: none;
        }

        .to,
        .from {
          display: none;
        }

        .days {
          width: 70px;
          display: none;
        }

        .desc {
          display: none;
        }
      }
    }
  }
}
