.leavePageCards {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 30px;
  .cardLeft {
    width: 40%;
    height: 50%;
  }
  .cardRight {
    margin-top: 30px;
    .title {
      font-size: 0.9em;
      font-weight: bold;
      &.casual {
        color: purple;
      }
      &.sick {
        color: #f84f43;
      }
      &.earned {
        color: #031c5f;
      }
      &.adjustment {
        color: #bbbb06;
      }
      &.unpaid {
        color: #386bf6;
      }
      &.half {
        color: green;
      }
    }
    ul {
      margin-top: 5px;
      padding-left: 20px;
      li {
        font-size: 0.8em;
        margin-bottom: 5px;
      }
    }
  }
}
