.usersPage {
  .allVisitors {
    .listTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 30px 2%;
      gap: 10px;

      .buttons {
        display: flex;
        gap: 5px;
        .print {
          padding: 5px 10px;
          background-color: var(--primary-color);
          color: #fff;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }

      .right {
        display: flex;
        gap: 20px;
        align-items: center;
        .buttons {
          display: flex;
          gap: 5px;
          .print {
            padding: 5px 10px;
            background-color: var(--primary-color);
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }

        .searchbar {
          display: flex;
          align-items: center;
          gap: 10px;
          .input {
            padding: 10px 50px 10px 20px;
            border-radius: 10px;
            background-color: var(--line-color);
            color: var(--text-light);
            display: flex;
            cursor: pointer;
            input {
              margin-left: 10px;
              background-color: var(--line-color);
              border: none;
              outline: none;
            }
          }

          select {
            background-color: #fff;
            border: 1px solid var(--line-color);
            padding: 9px;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
    }

    .visItems {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      position: relative;
      td {
        border: 1px solid var(--line-color);
      }
      .headingItem {
        color: var(--text-color);
        font-size: 0.8em;
        width: 100%;
        padding: 10px;
      }

      .visItem {
        width: 100%;
        .extra {
          text-transform: capitalize;
          font-size: 0.8em;
          padding: 10px;
          .icon {
            color: var(--primary-color);
          }
          span {
            margin-left: 5px;
          }
          &.action {
            display: flex;
            justify-content: center;
            gap: 5px;
            padding: 11px 10px;
            .edit {
              color: green;
            }
            .del {
              color: red;
            }
          }
        }

        .role,
        .id,
        .action {
          width: 100px;
        }
        .phone {
          width: 200px;
        }
        .staff {
          width: 250px;
        }
        .dept,
        .email {
          width: 350px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .usersPage {
    .allVisitors {
      .listTop {
        .buttons {
          flex-wrap: wrap;
          justify-content: center;
        }
      }

      .visItems {
        .visItem {
          .role,
          .dept {
            display: none;
          }
          .staff {
            width: 150px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .usersPage {
    .allVisitors {
      .listTop {
        padding: 20px 2%;
        flex-wrap: wrap;
        gap: 20px;
        .right {
          .visTitle {
            font-size: 1em;
          }
          .searchbar {
            .input {
              padding: 10px 20px 10px 20px;
            }

            .datePickerContainer {
              padding: 0 4px;
              cursor: pointer;
            }
          }
        }
      }

      .visItems {
        .emp,
        .full-time,
        .part-time {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .usersPage {
    .allVisitors {
      .listTop {
        .right {
          flex-wrap: wrap;
          .searchbar {
            flex-wrap: wrap;
          }
        }
      }

      .visItems {
        .check,
        .id,
        .status,
        .present,
        .absent,
        .late {
          display: none;
        }
      }
    }
  }
}
