.usersPage .allVisitors .listTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 30px 2%;
  gap: 10px;
}
.usersPage .allVisitors .listTop .buttons {
  display: flex;
  gap: 5px;
}
.usersPage .allVisitors .listTop .buttons .print {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.usersPage .allVisitors .listTop .right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.usersPage .allVisitors .listTop .right .buttons {
  display: flex;
  gap: 5px;
}
.usersPage .allVisitors .listTop .right .buttons .print {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.usersPage .allVisitors .listTop .right .searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.usersPage .allVisitors .listTop .right .searchbar .input {
  padding: 10px 50px 10px 20px;
  border-radius: 10px;
  background-color: var(--line-color);
  color: var(--text-light);
  display: flex;
  cursor: pointer;
}
.usersPage .allVisitors .listTop .right .searchbar .input input {
  margin-left: 10px;
  background-color: var(--line-color);
  border: none;
  outline: none;
}
.usersPage .allVisitors .listTop .right .searchbar select {
  background-color: #fff;
  border: 1px solid var(--line-color);
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
}
.usersPage .allVisitors .visItems {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  position: relative;
}
.usersPage .allVisitors .visItems td {
  border: 1px solid var(--line-color);
}
.usersPage .allVisitors .visItems .headingItem {
  color: var(--text-color);
  font-size: 0.8em;
  width: 100%;
  padding: 10px;
}
.usersPage .allVisitors .visItems .visItem {
  width: 100%;
}
.usersPage .allVisitors .visItems .visItem .item {
  text-transform: capitalize;
  font-size: 0.8em;
  padding: 10px;
}
.usersPage .allVisitors .visItems .visItem .item .icon {
  color: var(--primary-color);
}
.usersPage .allVisitors .visItems .visItem .item span {
  margin-left: 5px;
}
.usersPage .allVisitors .visItems .visItem .item.action {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 11px 10px;
}
.usersPage .allVisitors .visItems .visItem .item.action .edit {
  color: green;
}
.usersPage .allVisitors .visItems .visItem .item.action .del {
  color: red;
}
.usersPage .allVisitors .visItems .visItem .role,
.usersPage .allVisitors .visItems .visItem .id,
.usersPage .allVisitors .visItems .visItem .action {
  width: 100px;
}
.usersPage .allVisitors .visItems .visItem .phone {
  width: 200px;
}
.usersPage .allVisitors .visItems .visItem .staff {
  width: 250px;
}
.usersPage .allVisitors .visItems .visItem .dept,
.usersPage .allVisitors .visItems .visItem .email {
  width: 350px;
}

@media screen and (max-width: 1024px) {
  .usersPage .allVisitors .listTop .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .usersPage .allVisitors .visItems .visItem .role,
  .usersPage .allVisitors .visItems .visItem .dept {
    display: none;
  }
  .usersPage .allVisitors .visItems .visItem .staff {
    width: 150px;
  }
}
@media screen and (max-width: 900px) {
  .usersPage .allVisitors .listTop {
    padding: 20px 2%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .usersPage .allVisitors .listTop .right .visTitle {
    font-size: 1em;
  }
  .usersPage .allVisitors .listTop .right .searchbar .input {
    padding: 10px 20px 10px 20px;
  }
  .usersPage .allVisitors .listTop .right .searchbar .datePickerContainer {
    padding: 0 4px;
    cursor: pointer;
  }
  .usersPage .allVisitors .visItems .emp,
  .usersPage .allVisitors .visItems .full-time,
  .usersPage .allVisitors .visItems .part-time {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .usersPage .allVisitors .listTop .right {
    flex-wrap: wrap;
  }
  .usersPage .allVisitors .listTop .right .searchbar {
    flex-wrap: wrap;
  }
  .usersPage .allVisitors .visItems .role,
  .usersPage .allVisitors .visItems .id,
  .usersPage .allVisitors .visItems .phone,
  .usersPage .allVisitors .visItems .dept,
  .usersPage .allVisitors .visItems .email {
    display: none;
  }
}/*# sourceMappingURL=allUsers.css.map */