.allAttendancePage {
  .chart {
    .chartTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      .chartTitle {
        font-size: 1.2em;
        font-weight: bold;
        text-transform: capitalize;
      }

      .chartRight {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.8em;
        label {
          font-weight: bold;
          input {
            margin-right: 2px;
          }
        }
      }
    }

    .chartBottom {
      height: 250px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .allAttendancePage {
    .chart {
      .chartTop {
        display: flex;
        .chartTitle {
          font-size: 0.8em;
        }

        .chartRight {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 2em;

          .menu {
            display: none;
          }
        }
      }

      .chartBottom {
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .allAttendancePage {
    .chart {
      .chartTop {
        padding: 10px;
        flex-wrap: wrap;
        .chartTitle {
          font-size: 1em !important;
        }

        .chartRight {
          display: flex;
          align-items: center;
          gap: 10px;
          gap: 2px;
          label {
            font-size: 0.4em;
          }
        }
        .menu {
          display: none !important;
        }
      }
    }
  }
}
