.allAttendancePage {
  .chart {
    .chartTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      .chartTitle {
        font-size: 1.2em;
        font-weight: bold;
        text-transform: capitalize;
      }

      .chartRight {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.8em;
        label {
          font-weight: bold;
          input {
            margin-right: 2px;
          }

          &.active {
            color: var(--primary-color);
          }
        }

        .menu {
          padding: 10px;
          border: 2px solid var(--line-color);
          border-radius: 10px;
          option {
            padding: 10px;
            border-radius: 10px;
          }
        }
      }
    }

    .chartBottom {
      height: 250px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .allAttendancePage {
    .chart {
      .chartTop {
        padding: 10px;
        .chartTitle {
          font-size: 1.5em;
        }

        .chartRight {
          gap: 5px;
          font-size: 0.5em;
          label {
            font-size: 0.3em;
          }

          .month {
            font-size: 0.3em;
          }
        }
      }
    }
  }
}
