.allVisitors {
  width: 100% !important;
  .visTitle {
    font-size: 1.5em;
    font-weight: bold;
    width: 90%;
    margin-bottom: 30px;
  }

  .visItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
    hr {
      margin: 10px 2%;
      border: 0.5px solid var(--line-color);
      width: 98%;
    }
    .visItem {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
          background-color: var(--light-green);
          padding: 10px;
          border-radius: 10px;
        }
        .text {
          font-size: 0.9em;
          margin-right: 5px;
          padding: 5px 0;
          p {
            color: #000;
            margin-bottom: 5px;
          }
          span {
            color: var(--blue);
          }
        }
      }

      .time {
        font-size: 0.9em;
        span {
          background-color: var(--light-red);
          color: var(--red);
          padding: 5px 15px;
          border-radius: 10px;
          font-size: 0.8em;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .recentVisitors {
    .visItems {
      padding: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .recentVisitors {
    .visTitle {
      font-size: 1.5em;
    }

    .visItems {
      padding: 5px;
      gap: 10px;

      .visItem {
        gap: 20px !important;
        align-items: center;
        justify-content: start;
        .user {
          gap: 30px;
        }
        .extra {
          font-size: 0.2em;
          display: none;
        }
      }
    }
  }
}
